a {
  color: #747704;
  text-decoration: none;
  font-size: 0.7em;
}

hr {
  border: 2px #bcbbbb solid;
}

#featured-work > div > img {
  height: 80%;
}

#test-col {
  background-color: red;
}

.title-text {
  color: #747704;
}

.sub-text {
  color: #bcbbbb;
}
