<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Calculator</title>
    <!-- // 1. write Typescript code in "app.component.ts" to work with ToDo list -->
  </head>
  <body>
    <!-- // 2. write html(view) code to display the ToDos -->
    <input
      type="text"
      [(ngModel)]="description"
      name="task"
      id="user-task"
      placeholder="Add a task"
    />
    <input type="submit" (click)="submitNewItem(description)" value="Add" />
    <app-tasks></app-tasks>
    <div *ngFor="let item of items">
      <div class="task-list">
        <input
          type="checkbox"
          (click)="completeItem(item)"
          checked="{{ item.completed }}"
        />
        <!-- {{ item.id }}. {{ item.description }} -->
        <input type="button" (click)="deleteItem()" value="Delete" />
      </div>
    </div>
  </body>
</html>
